altgraph==0.17.4
astroid==3.1.0
colorama==0.4.6
dill==0.3.8
flake8==7.0.0
isort==5.13.2
mccabe==0.7.0
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pefile==2023.2.7
platformdirs==4.2.0
pycodestyle==2.11.1
pyflakes==3.2.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.4
pylint==3.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
six==1.16.0
tomlkit==0.12.4
tzdata==2024.1
